@import '../../components/header/headst';
$host:"http://127.0.0.1:5050/";
$fontcolor:"#FF9C26";
.markingts{width:100%;height: .5rem;background-color: #DFDFDF;}
.information{width:100%;height: 12rem;margin-top:30px;
 .int-top{width:94%;height: 3.9rem;margin: 0 auto;padding:5px 0 5px 0;
    position: relative;border-bottom:1px solid #A0B4DC;
    .ht-int{width:50%;height: 100%;position: absolute;top:0;left: 0;color:#E95808;font-size: 1.5rem;font-weight: bolder;padding-top: 15px;
    } 
    .ht-nte{width:40%;height: 100%;position: absolute;top:0;right: 0;
        display: flex;flex-direction:row-reverse;
        span img{width:33px;margin-left: 20px;}} 
}
 .int-bottom{width:94%;margin: 0 auto;padding:15px 0 5px 0;color: #444;font-weight: bolder;line-height: 25px;
    img{width:28px;height: 30px;}
}  
}
.particulars{width:100%;
    p:first-child{border-bottom: 1px solid #444;}
     p{width:94%;margin: 0 auto;padding: 15px 0 15px 0;
     a{color:#444;}
     span{float: right;}
    }
}
.specification{
    width:100%;
    .port{width:94%;margin: 0 auto;display: flex;padding-top:10px;
      span{width:20%;}
      .port_item{width:calc(100% - 20%);display: flex;justify-content:space-between;flex-wrap:wrap;
       span{
           height: 10px;padding:5px 10px 5px 10px;border:1px solid #E5E5E5;font-size: .7rem;
           width:40%;margin-bottom: .5rem;text-align: center;line-height: 10px;color: #000000;;
        }
        .port_active{background-color: #E95808;color:white;}
    }
    }
    .speed{
        color: #444;
        .speed_active{background-color: #E95808;color:white!important;}
    }
    .quantity{
        span{width:20%!important;height: 20px!important;background-color:#fdf1fd!important;color:#1E1E1E!important;font-size: 1rem;line-height: 20px!important;border-radius: 5px!important;border:0!important;}
       
    }
    .inventory{
        span{width:90%!important;background-color:white!important;color:#666!important;overflow: hidden;border:0!important;font-size: 1rem!important;
            text-overflow:ellipsis;
            white-space: nowrap;}
    }
}
.carouset{z-index: -1;margin-top:2.7rem;}
.announcement{background:#333333;width:100%;height: 2rem;line-height:2rem;display:flex;align-items:center;overflow: hidden;
    .announcement_div{position: relative;z-index: 2;width:2rem!important;height: 2rem;background-color: #333333;display:block;box-shadow: 10px 0px 8px #888888;
        .announcement_img{width:1rem;height:1rem;}
    }
   .announcement_msg{color:white;padding-left:5px;height: 2rem;line-height: 2rem;
    white-space: nowrap;
    box-sizing: border-box;
    font:'Segoe UI', Tahoma, Helvetica, Sans-Serif;
    animation: wordsLoop 10s linear infinite normal;
     }
}
@keyframes announcement_msg {
    0%   { text-indent: 27.5em }
    100% { text-indent: -105em }
}

@keyframes wordsLoop {
    0% {
        transform: translateX(200px);
        -webkit-transform: translateX(200px);
    }
    100% {
        transform: translateX(-100%);
        -webkit-transform: translateX(-100%);
    }
}

@-webkit-keyframes wordsLoop {
    0% {
        transform: translateX(200px);
        -webkit-transform: translateX(200px);
    }
    100% {
        transform: translateX(-100%);
        -webkit-transform: translateX(-100%);
    }
}