$color_font:#E95808;
.index_car{width:100%;height: 11rem;position: relative;top:0; touch-action: none!important;
      .detail-container{ height: 11rem; /*图片高度*/width:100%;
            filter:blur(1.2rem); /*模糊滤镜*/
            opacity: .9;   /*透明度*/}
            .detail-mask{
                  position: absolute;
                  width:100%;
                  height: 11rem;
                  background: #333;
                  top:0;
                  left:0;
                  z-index: -1;
                }   
.car_item{width:100%;display: flex;height: 11rem;position: absolute;top:0;
  div:nth-child(1){width:40%;height: 100%;display: flex;justify-content:center;align-items:center;
  .carou_img{width:100%;}
}
   div:nth-child(2){width:60%;box-sizing: border-box;height: 100%;padding: 0 1rem 0 1rem;
   p{margin-top: 1rem;color:white;}
   .pice{text-align: right;color:$color_font;font-weight: bolder;}
 }
}
}