/*禁掉图片长按选择*/
img {
      pointer-events:none;
    }

    /*雪碧图定位方法封装*/
    $list_style: ("calss1", "class2", "class3");
@each $class in $list_style {
$index: index($list_style, $class)-1;
.#{$class} .logo {
background-position: (100%/(length($list_style)-1))*$index 0;
}
}
/*移动端顺畅的弹性滚动（android不弹性，ios会弹性 iscroll不支持android4.4以下*/
/*overflow-x:auto;
overflow-y:hidden;
-webkit-overflow-scrolling:touch;
*/

/**最多展示n行/
/*display: -webkit-box;
-webkit-line-clamp: n;
-webkit-box-orient: vertical;*/

/*调整placeholder样式，兼容性写法*/
.cs_input::-webkit-input-placeholder { /* WebKit browsers */
      color: #D2D9D8;
    }
    .cs_input:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
      color: #D2D9D8;
    }
    .cs_input::-moz-placeholder { /* Mozilla Firefox 19+ */
      color: #D2D9D8;
    }
    .cs-input:-ms-input-placeholder { /* Internet Explorer 10+ */
      color: #D2D9D8;
    }

    /*画带边线的三角*/
    .no_interesting_triangle{
      position: absolute;
      top: -7px;
      right: 14px;
      border: 8px solid transparent;
      border-top-width: 0;
      border-bottom-color: $gray5;
        &:before{
        content: '';
        position: absolute;
        top: 2px;
        right: -8px;
        border: 8px solid transparent;
        border-top-width: 0;
        border-bottom-color: $white;
        z-index: 1;
        }
      }

      /*实现0.5px的border*/
      /*HTML部分
<div class="scale-border ">
    <div class="content">边框宽度0.5px</div>
    <div class="border border-color"></div>
</div>*/

/*CSS部分
.scale-border {
    margin: 10px auto;
    height: 100px;
    position: relative;
    padding: 10px;
    width: 200px;
}
.content {
    position: relative;
    z-index: 2;
}
.border {
    -webkit-transform: scale(0.5);
    transform: scale(0.5);
    position: absolute;
    border: 1px solid #333;
    top: -50%;
    right: -50%;
    bottom: -50%;
    left: -50%;
    border-radius: 10px;
    background-color: #eee;
}*/

/*
  购物车 增加减少表单
  HTML::
                 <div class="act_wrap">
                    <a href="javascript:;" class="reduce">-</a><input class="num" value="1" id="buyQty" readonly=""><a href="javascript:;" class="add">+</a>
                </div>


    CSS ::::
              .act_wrap{border:1px #dadada solid;}
     .act_wrap a{
        text-align: center;
        line-height: 35px;
        float: left;
        position: relative;
        width: 33px;
        height: 33px;
        border: 1px #fff solid;
        background: -webkit-linear-gradient(top,#fefefe,#ededed);
        color: #444;
     }
     .num{
        float: left;
        width: 57px;
        height: 32px;
        text-align: center;
        font-size: 1em;
        border: 1px #dcdcdc solid;
        -webkit-appearance: none;
        -webkit-border-radius: 0;
        background-color: #f9f9f9;
        border-top: 0;
        border-bottom: 0;
     }

*/